// Import common styles
@import "app-common";
// Place any CSS rules you want to apply only on iOS here
RadDataForm {
    background-color: white;
    color: #3F51B5;
    padding: 5;
    margin: 5;
}

PropertyEditor {
    background-color: #00BCD4;
    color: #303F9F;
    margin: 10;
    padding: 10;
    font-size: 14;
}

DataFormEditorLabel {
    color: #212121;
    background-color: white;
    font-style: italic;
    padding: 10;
    margin: 10;
    width: 150;
    position: right;
}

DataFormEditorCore {
    margin: 10;
    padding: 10;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}